html {
    width: 100%;
    height: 100%;
    background: #fff;
}

body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.app-container {
    width: 100%;
    height: 100%;
}
