<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="favicon.ico?v=2" type="image/x-icon" />
    <title>GETFLUXT</title>
</head>

<body>
    <div id="root"></div>
    <script src="{%= o.htmlWebpackPlugin.options.absolutePath %}"></script>
</body>

</html>
